/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0482d8;
  --ifm-color-primary-dark: #0475c2;
  --ifm-color-primary-darker: #0362a2;
  --ifm-color-primary-darkest: #012741;
  --ifm-color-primary-light: #369be0;
  --ifm-color-primary-lighter: #4fa8e4;
  --ifm-color-primary-lightest: #c0e0f5;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  /* Custom variables */
  --black: #000000;
  --gray-00: #cfd1d6;
  --gray-0: #9ea0a5;
  --gray-1: #868789;
  --gray-2: #56575a;
  --gray-3: #25272b;
  --gray-4: #191b1f;
  --gray-5: #14161a;

  --code-1: #01c2ff;
  --code-2: #00a341;
  --code-3: #ae01ff;
  --code-4: #ea8e04;
  --code-5: #ffd601;
  --code-6: #01ff67;
  --code-7: #db01ff;

  /* Docusaurus theme overrides */
  --ifm-heading-font-weight: 600;
  --ifm-font-weight-bold: 600;
  --ifm-heading-line-height: 1.1;
  --ifm-leading: 1.5rem;
  --ifm-h1-font-size: 4rem;
  --ifm-pre-padding: 1rem;
  --ifm-alert-padding-vertical: 2rem;
  --ifm-alert-padding-horizontal: 2rem;
  --ifm-code-font-size: 0.875em;
  --ifm-code-padding-horizontal: 0.375em;
  --ifm-code-padding-vertical: 0.1875em;
  --ifm-code-background: #f6f8fa; /* Matches Prism highlighting */
  --ifm-code-color: #393a34;
  --ifm-tabs-padding-vertical: 0.5rem;
  --ifm-list-item-margin: 0.5em;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-font-family-base: Inter, ui-sans-serif, system-ui, -apple-system,
    "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif;
  --ifm-font-family-monospace: Menlo, Monaco, "Lucida Console", Consolas,
    "Liberation Mono", "Courier New", monospace, Menlo, Monaco, "Lucida Console",
    Consolas, "Liberation Mono", "Courier New", monospace;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #10b3d1;
  --ifm-color-primary-dark: #0ea1bc;
  --ifm-color-primary-darker: #0c869d;
  --ifm-color-primary-darkest: #05363f;
  --ifm-color-primary-light: #40c2da;
  --ifm-color-primary-lighter: #58cadf;
  --ifm-color-primary-lightest: #c3ecf4;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

@media (min-width: 24rem) {
  html:root {
    --ifm-spacing-horizontal: 2rem;
  }
}

@media (min-width: 36rem) {
  html:root {
    --ifm-pre-padding: 2rem;
  }

  .pagination-nav__link {
    padding: 2rem 1rem;
  }
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/inter/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/inter/Inter-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/inter/Inter-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/inter/Inter-SemiBoldItalic.woff2") format("woff2");
}

/* Multiple selectors to override defaults in dark mode */
html[data-theme="dark"][data-theme="dark"] {
  --docsearch-hit-active-color: var(--black);
  --docsearch-modal-background: var(--gray-4);
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

  --ifm-background-color: var(--black);
  --ifm-background-surface-color: var(--gray-4);
  --ifm-code-background: #282a36;
  --ifm-menu-color: var(--gray-00);
  --docsearch-muted-color: var(--gray-0);
}

html[data-theme="dark"] kbd.DocSearch-Button-Key,
html[data-theme="dark"] kbd.DocSearch-Commands-Key {
  box-shadow: none;
  color: var(--gray-0);
}

html[data-theme="dark"] .DocSearch-Button {
  border: 1px solid var(--gray-1);
  padding: 0 1rem;
}

html[data-theme="light"] kbd.DocSearch-Button-Key,
html[data-theme="light"] kbd.DocSearch-Commands-Key {
  box-shadow: none;
  color: var(--gray-3);
}

html[data-theme="light"] .DocSearch-Button {
  border: 1px solid var(--gray-4);
  background-color: var(--white);
  padding: 0 1rem;
}

html,
body {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
  overflow: auto;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

article {
  max-width: 75ch;
}

h1,
.markdown h1:first-child {
  font-size: clamp(2rem, 5vw, 2.75rem);
  margin-bottom: 1.25rem;
}

.markdown h1:first-child {
  margin-top: 1rem;
}

h2 {
  --ifm-h2-vertical-rhythm-top: 2;
  font-size: clamp(1.5rem, 4vw, 2rem);
}

h3 {
  --ifm-h3-vertical-rhythm-top: 1.75;
  font-size: clamp(1.25rem, 3vw, 1.5rem);
}

h4 {
  --ifm-h4-vertical-rhythm-top: 1.5;
  font-size: clamp(1.1rem, 2vw, 1.25rem);
}

:where(h1, h2, h3) {
  --ifm-heading-vertical-rhythm-bottom: 0.75;

  text-wrap: balance;
  letter-spacing: -0.025em;
}

button,
kbd {
  font: inherit;
}

code {
  letter-spacing: 0;
  vertical-align: baseline;
}

.markdown a {
  text-decoration: underline;
}

.markdown iframe {
  border-radius: 1rem;
  max-width: 100%;
}

td p:last-child {
  margin: 0;
}

.table-of-contents a {
  line-height: 1.5;
}

.navbar__product_link {
  color: var(--ifm-navbar-link-color);
}

#__docusaurus,
.main-wrapper {
  overscroll-behavior-y: none;
}

.container {
  max-width: 71.25rem !important;
  padding-bottom: 2rem !important;
}

.theme-doc-sidebar-container {
  position: relative;
}

.theme-doc-sidebar-container div:first-child {
  position: fixed;
}

.theme-doc-sidebar-container div:first-child div:first-child {
  position: relative;
}

.section-header,
.product-header {
  color: var(--ifm-navbar-link-color);
  font-size: 0.75rem;
  text-transform: uppercase;
  border-bottom: 1px solid var(--gray-1);
  margin: 1rem var(--ifm-menu-link-padding-horizontal);
  padding: 0.5rem 0 0.1rem 0;
}

.section-header:first-child,
.product-header:first-child {
  margin: 0.5rem var(--ifm-menu-link-padding-horizontal) 1rem;
}

.product-header {
  margin-top: 0;
  margin-bottom: 0;
}

.subsection-header {
  padding: 2px 0;
  margin: 5px var(--ifm-menu-link-padding-horizontal);
  border-bottom: 1px solid #aaa;
  font-size: 0.8rem;
}

.menu__list-item {
  margin: 0 var(--ifm-menu-link-padding-horizontal);
}

.menu__link {
  font-size: 0.8125rem;
}

.menu__link--sublist-caret:after {
  background-size: 1.5em;
}

.navbar__item {
  padding: 0 2px;
}

.navbar__link {
  margin-left: 10px;
  margin-right: 10px;
}

.navbar__link--active {
  font-weight: bold;
  margin-top: 3px;
  border-bottom: 2px solid var(--ifm-color-primary);
}

.navbar__logo {
  height: 1.7rem;
  margin-right: 0.7rem;
}

.navbar__logo img {
  height: 24px;
  width: 24px;
}

.navbar__title {
  font-size: 1.2rem;
}

/* Mobile Nav Customize */
.navbar__brand {
  margin-right: 0.5rem;
}
.product-header {
  display: none;
}
.navbar__product {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.navbar__product__split {
  color: var(--ifm-color-emphasis-500);
}

@media (min-width: 997px) {
  .product-header {
    display: block;
  }
  .navbar__brand {
    margin-right: 1.5rem;
  }
  .navbar__product {
    display: none;
  }
}

.secondary-menu__product {
  display: flex;
  padding: 0.5rem 1rem 0.5rem 0rem;
  justify-content: space-between;
  align-items: center;
}
.secondary-menu__product__name {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.secondary-menu__product__button {
  border: none;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  font-weight: 600;
  background-color: var(--ifm-color-emphasis-200);
  color: var(--ifm-color-emphasis-800);
}

.footer {
  border-top: 1px solid var(--ifm-toc-border-color);
  background-color: transparent;
  padding-top: 3rem;
}

@media (min-width: 997px) {
  .footer {
    padding-inline: 0;
  }
}

.__no-external a svg {
  display: none;
}

.icon-menu-user-guide,
.icon-menu-tutorials,
.icon-menu-api {
  margin-left: 0;
}

.icon-menu-user-guide > a,
.icon-menu-tutorials > a,
.icon-menu-api > a {
  font-size: 0.9rem;
}

.icon-menu-option .menu__link {
  position: relative;
}

.icon-menu-option .menu__link--active {
  background-color: transparent;
}

.icon-menu-option .menu__link--active:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.icon-menu-option .menu__link::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background-color: currentColor;
  --svg: url("https://api.iconify.design/ic/baseline-electric-bolt.svg");
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.icon-menu-quick-start .menu__link::before {
  --svg: url("https://api.iconify.design/ic/baseline-electric-bolt.svg");
}

.icon-menu-user-guide .menu__link::before {
  --svg: url("https://api.iconify.design/ic/sharp-menu-book.svg");
}

.icon-menu-tutorials .menu__link::before {
  --svg: url("https://api.iconify.design/ic/baseline-integration-instructions.svg");
}

.icon-menu-api .menu__link::before {
  --svg: url("https://api.iconify.design/ic/baseline-data-object.svg");
}

.markdown table td {
  line-height: 1.6em;
  font-size: 0.9em;
}

.markdown table td code {
  max-width: 100%;
  word-break: break-all;
  word-wrap: break-word;
}

@media (max-width: 36rem) {
  .markdown > div[class*="codeBlockContainer"],
  .markdown > .tabs-container div[class*="codeBlockContainer"] {
    margin-inline: calc(var(--ifm-global-spacing) * -1);
    border-radius: 0;
  }

  .markdown > .tabs-container {
    margin-inline: calc(var(--ifm-global-spacing) * -1);
    padding-inline: var(--ifm-global-spacing);
  }
}

html .breadcrumbsContainer_src-theme-DocBreadcrumbs-styles-module {
  --ifm-breadcrumb-size-multiplier: 0.9;
  margin-bottom: 0.5rem;
}

.breadcrumbs__item:first-child > a {
  padding-left: 0;
}

.breadcrumbs__item a {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}

.breadcrumbs__link {
  background-color: transparent !important;
}

.breadcrumbs__item:not(:last-child):after {
  margin-inline: 0;
}

.breadcrumbs__item--active .breadcrumbs__link {
  background: transparent;
  color: inherit;
}

svg.iconExternalLink_node_modules-\@docusaurus-theme-classic-lib-theme-Icon-ExternalLink-styles-module {
  width: 0.7em;
  vertical-align: baseline;
  padding: 0;
  margin-bottom: -0.09em;
  margin-left: 0.4em;
}

.footer__copyright {
  font-size: 0.75rem;
  margin-top: 2rem;
}

.DocSearch-Button-Placeholder {
  color: var(--docsearch-muted-color);
}

.DocSearch-Help .DocSearch-Label {
  color: var(--white);
}

.DocSearch-Button .DocSearch-Search-Icon {
  width: 1rem;
}

.DocSearch-Button-Container {
  padding-right: 2rem;
}

kbd.DocSearch-Button-Key,
kbd.DocSearch-Commands-Key {
  box-shadow: none;
  padding: 0;
  border: 1px solid;
  top: 0;
  font-size: 0.8rem;
  line-height: 1;
  margin-right: 0.375em;
  background: transparent;
  color: var(--docsearch-muted-color);
}

.theme-edit-this-page svg {
  display: none;
}